@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.digital-clock {

    font-size: 36px;
    color: #fff;
    background: linear-gradient(115.7deg, rgb(3, 79, 135) 6.2%, rgb(0, 184, 214) 112.9%);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto; /* Center the digital clock horizontally */
    width: 100%; /* Make the digital clock same width as other elements */
    max-width: 1200px;
}
  
  .digital-clock span {
    margin: 0 5px;
  }
  
*{
    font-family: 'Open Sans', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;

    
}

body{
    color:TomoJeHomo;
    background-size: cover; 
    background-repeat: no-repeat; 
    
    background-attachment: fixed;
}



header {
    background: radial-gradient(circle at 85.4% 50.8%, rgb(14, 72, 222) 0%, rgb(3, 22, 65) 74.2%);

    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}


h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Fjalla One', sans-serif;


}

form {
    margin-bottom: 20px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s ease;
}

input[type="text"]:focus, textarea:focus {
    background: linear-gradient(115.7deg, rgb(3, 79, 135) 6.2%, rgb(0, 184, 214) 112.9%);

}

input[type="submit"] {
    background: linear-gradient(115.7deg, rgb(3, 79, 135) 6.2%, rgb(0, 184, 214) 112.9%);

    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s ease;
}
h2{
text-align: center;
}
input[type="submit"]:hover {
    background: linear-gradient(115.7deg, rgb(3, 79, 135) 6.2%, rgb(0, 184, 214) 112.9%);

}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}
.eddel{
    background: linear-gradient(115.7deg, rgb(3, 79, 135) 6.2%, rgb(0, 184, 214) 112.9%);
}
table th {
    background: linear-gradient(115.7deg, rgb(3, 79, 135) 6.2%, rgb(0, 184, 214) 112.9%);
    color: #fff;
    padding: 15px;
    text-align: left;
    font-size: 18px;
}

#plava {
    background: linear-gradient(115.7deg, rgb(3, 79, 135) 6.2%, rgb(0, 184, 214) 112.9%);
    color:white;
}

table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

a {
    background: linear-gradient(115.7deg, rgb(3, 79, 135) 6.2%, rgb(0, 184, 214) 112.9%);

    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.edit-link, .delete-link {
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .sve {
        border-radius: 0;
    }
    header {
        border-radius: 0;
    }
}

#datepicker, .time {
    width: 100px;
    height: 25px;
    display: inline-block;
    background: linear-gradient(115.7deg, rgb(3, 79, 135) 6.2%, rgb(0, 184, 214) 112.9%);
    text-align: center;
    padding: 11px;
    border-radius: 5px;
    color: white;
}

.time small{
    color:red;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
