body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;

}


.sve {
    max-width: 1200px;
    margin: 0 auto;

    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    z-index:2;
 
}



header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}


h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


form {
    margin-bottom: 20px;
}


input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}


input[type="text"]:focus, textarea:focus {
    border-color: #007bff;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}


input[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}


table th {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    text-align: left;
    font-size: 18px;
}


table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}


a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}


a:hover {
    text-decoration: underline;
}


.edit-link, .delete-link {
    margin-right: 10px;
}


@media screen and (max-width: 768px) {
    .sve {
        border-radius: 0;
    }
    header {
        border-radius: 0;
    }
}
.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #007bff;
    margin: 100px auto 0px auto;
    float:right;
    position: fixed;
    border:20px solid #005ec2;
    z-index:2;
}
.center{
    background-color: #000;
    position: absolute;
    left: calc(50% - 10px);
    top:  calc(50% - 10px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 20;
}
.hourHand{
    width: 10px;
    height: 75px;
    background-color: #ff0000;
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 75px;
    left: 145px;
    z-index: 10;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
      transform: rotate(360deg);

}
.minuteHand{
    width: 5px;
    height: 120px;
    background-color: rgb(138, 0, 0)000;
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 30px;
    left: 147px;
    z-index: 9;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
      transform: rotate(90deg);

}
.secondHand{
    width: 2px;
    height: 120px;
    background-color:rgb(255, 69, 69);
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 30px;
    left: 149px;
    transition: all 0.06s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    z-index: 8;  
      transform: rotate(360deg);

}
.time{
    position: absolute;
    top: 45%;
    left: 10%;
    border: 1px solid #fff8dc;
    background-color: #fff;
    padding: 5px;
    display: block;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,.4);
    border-radius: 5px;
    min-width: 70px;
    height: 15px;

}
.time small{
    color:red;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.clock ul{
    list-style: none;
    padding: 0;

}
.clock ul li{
    position: absolute;
    width:20px;
    height:20px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    color:red;
}
.clock ul li:nth-child(1){
    right: 22%;
    top:6.5%;
}
.clock ul li:nth-child(2){
    right: 6%;
    top:25%;
}
.clock ul li:nth-child(3){
    right: 1%;
    top:calc(50% - 10px);
    color:#000;
    font-size: 20px;
    font-weight: bold;
}
.clock ul li:nth-child(4){
    right: 6%;
    top:69%;
}
.clock ul li:nth-child(5){
    right: 22%;
    top:84%;
}
.clock ul li:nth-child(6){
    right: calc(50% - 10px);
    top:calc(99% - 20px);
    color:#000;
    font-size: 20px;
    font-weight: bold;
}
.clock ul li:nth-child(7){
    left: 22%;
    top:84%;
}
.clock ul li:nth-child(8){
    left: 6%;
    top:69%;
}
.clock ul li:nth-child(9){
    left: 1%;
    top:calc(50% - 10px);
    color:#000;
    font-size: 20px;
    font-weight: bold;
}
.clock ul li:nth-child(10){
    left: 6%;
    top:25%;
}
.clock ul li:nth-child(11){
    left: 22%;
    top:6.5%;
}
.clock ul li:nth-child(12){
    right: calc(50% - 10px);
    top:1%;
    color:#000;
    font-size: 20px;
    font-weight: bold;
}




/*  footer   */
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida  Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer .fa-heart{
    color: red;
}
footer .fa-dev{
    color: #fff;
}
footer .fa-twitter-square{
  color:#1da0f1;
}
footer .fa-instagram{
  color: #f0007c;
}
fotter .fa-linkedin{
  color:#0073b1;
}
footer .fa-codepen{
  color:#fff
}
footer a {
    color: #3c97bf;
    text-decoration: none;
  margin-right:5px;
}
