*{
    color:pink;
    width:200px;
    top: 50px;
    border: 1px solid red;
}

@font-face {
    font-family: poppins;
    src: url(../Fontovi/Poppins-Regular.ttf);
}

@font-face {
    font-family: creg;
    src: url(../Fontovi/Cardo-Regular.ttf);
}*{
    margin: 0px;
    padding: 0 auto;


}
p{
    margin: 5vw;
}
header{
    
    background-color:#dde9e1;
    color: #698269;
    font-family: creg;
/*     
    background-image: url("/BIB/Slike/sieuwert-otterloo-AuR4z-edGAU-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    position: relative;
    padding-bottom: 5px;
    
    */
    
   
    
}
body{
    background-color: #dde9e1;
}
.title{
    font-size:13vh ;
     padding: 3vh 0vh 0vh 40vh;
     position: absolute;
     /* font-weight: bolder;
     margin-bottom: 10px; */
     /* text-shadow: 2px 2px 5px rgb(54, 39, 6); */

}

.navbar{
    margin: 0;
    padding: 0 auto;
}
.container-fluid{
    padding: 0;
}
.navbar{
    color:rgb(235, 233, 233);
    font-size: 20px;
    border-radius: 0;
    padding-left: 135px;
    padding-top: 5px;
    
    background-color:rgb(70, 78, 46);
}
.navbar-custom .navbar-text{
    background-color:rgb(70, 78, 46) ;
    color:rgb(235, 233, 233);
}
.navbar-text{
    margin-top: 17px;
    background-color: transparent;
}
.navbar-text:hover{
    /* background-color:rgb(235, 233, 233); */
    color: rgb(54, 39, 6);
    /* border-radius: 15px; */
    transition: 0.7s;
}
.navbar-header .navbar:hover{
    background-color: #698269;
    color:rgb(235, 233, 233);
    text-decoration: none;
    
    
}
.under-title{
    color: rgb(54, 39, 6) ;
    
    font-weight: bolder;
}

.topnav {
    overflow: hidden;
    background-color: #5e7856;
    font-family: poppins;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: .2s;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }


#gogss{
    margin-left: 15px;
    margin-right: 30px;
}


