@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body, html {
   
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.sve {
    background-color: white;
    max-width: 1400px; /* Adjust the width as needed */
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Fjalla One', sans-serif;
}

* {
    margin-bottom: 20px;
}

html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 96.4%;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin: 10px 0;
    border: none;
    border: 1px solid black;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background: linear-gradient(115.7deg, rgb(3, 79, 135) 6.2%, rgb(0, 184, 214) 112.9%);
}

input[type="submit"] {
    background: linear-gradient(115.7deg, rgb(3, 79, 135) 6.2%, rgb(0, 184, 214) 112.9%);
    color: #fff;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    width: 100%;
}

input[type="submit"]:hover {
    background: linear-gradient(115.7deg, rgb(3, 79, 135) 6.2%, rgb(0, 184, 214) 112.9%);
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .sve {
        width: 90%;
    }
}

.button {
    appearance: none;
    background: linear-gradient(115.7deg, rgb(3, 79, 135) 6.2%, rgb(0, 184, 214) 112.9%);
    border: 2px solid #0056b3;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.button:disabled {
    pointer-events: none;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: none;
    transform: translateY(0);
}

#plava {
    background: linear-gradient(115.7deg, rgb(3, 79, 135) 6.2%, rgb(0, 184, 214)) ;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}
.eddel{
    background: linear-gradient(115.7deg, rgb(3, 79, 135) 6.2%, rgb(0, 184, 214) 112.9%);
}
table th {
    background: linear-gradient(115.7deg, rgb(3, 79, 135) 6.2%, rgb(0, 184, 214) 112.9%);
    color: #fff;
    padding: 15px;
    text-align: left;
    font-size: 18px;
}

#plava {
    background: linear-gradient(115.7deg, rgb(3, 79, 135) 6.2%, rgb(0, 184, 214) 112.9%);
    color:white;
}

table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

